@import "../../../../res/style/base.scss";

.song-card {
  width: 220px;
  float: left;
  margin: 10px;
  position: relative;
  .poster {

    .poster-img {
      width: 100%;
      height: 220px;
      background-size: cover;
      background-position: center, center;
      border-radius: 5px 5px 0 0;

    }

  }

  .info {
    padding: 6px 10px 16px 10px;

    .category {
      font-size: 13px;
      font-weight: 600;
      color: #cccccc;
    }

    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 17px;
      font-weight: 600;
      margin: 5px 0;
    }

    .artist {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .by {

      }

      .artist-name {
        font-weight: 600;
        color: $theme-color
      }

    }
  }

  .delect-hover{
    background: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    img{
        width: 35px;
        height: 35px;
        padding-top: 50%;
    }
  }

}