@import "../../../../res/style/base.scss";

.song-card {
  width: 220px;
  margin: 10px;

  &:hover {
    position: relative;
    cursor: pointer;
    transform: scale(1.02, 1.02);
    transition: ease-in-out .25s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
  }

  .poster {

    .poster-img {
      width: 100%;
      height: 220px;
      background-size: cover;
      background-position: center, center;
      border-radius: 5px 5px 0 0;

    }

  }

  .info {
    padding: 6px 10px 16px 10px;

    .category {
      font-size: 13px;
      font-weight: 600;
      color: #cccccc;
    }

    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 17px;
      font-weight: 600;
      margin: 5px 0;
    }

    .artist {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .by {

      }

      .artist-name {
        font-weight: 600;
        color: $theme-color
      }

    }
  }

}