bleach==1.5.0
click==6.7
cycler==0.10.0
enum34==1.1.6
Flask==0.12.2
Flask-Cors==3.0.3
Flask-Script==2.0.6
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.10
MarkupSafe==1.0
olefile==0.44
protobuf==3.5.0.post1
Werkzeug==0.13
