.dashboard {
  max-width: 1000px;
  margin: 80px auto;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .date {
    width: 30%;
    height: 120px;
    line-height: 120px;
    font-size: 60px;
    font-family: Consolas;
    font-weight: 600;
  }

}